.search-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url('https://www.internationalshowtimes.com/img/International_Showtimes_API_Movie_Guide_Data_Grid.jpg'); */
    /* margin-left:100px; */
}
.search-item p{
    text-align: center;
}
.search-container img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.search-item{
    margin: 20px;
}
.search-item img{
    width: 300px;
    height: 220px;
    object-fit: cover;
}
